.rebar3
_build
artifacts/cowboy-long-bench/
priv/efz_vm_launcher
__pycache__/
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
