{minimum_otp_vsn, "27"}.
{erl_opts, [debug_info, warnings_as_errors]}.
%% Include the small demonstration target in the shell's code path.
{src_dirs, ["src", "examples/simple_parser"]}.
{deps, []}.
{shell, [{apps, [efz]}]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{dialyzer, [{base_plt_location, "_build/plt"},
            {plt_location, local},
            {plt_extra_apps, [compiler]},
            {warnings, [unmatched_returns, error_handling]}]}.
